<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuren.mapper.ProjectAndFundSourceMapper" >
  <resultMap id="BaseResultMap" type="com.shuren.pojo.ProjectAndFundSource" >
    <id column="ProjectAndFundSourceId" property="projectandfundsourceid" jdbcType="INTEGER" />
    <result column="ProjectInforId" property="projectinforid" jdbcType="INTEGER" />
    <result column="ProjectFundSourceId" property="projectfundsourceid" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProjectAndFundSourceId, ProjectInforId, ProjectFundSourceId, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from projectandfundsource
    where ProjectAndFundSourceId = #{projectandfundsourceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projectandfundsource
    where ProjectAndFundSourceId = #{projectandfundsourceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shuren.pojo.ProjectAndFundSource" >
    insert into projectandfundsource (ProjectAndFundSourceId, ProjectInforId, 
      ProjectFundSourceId, Remark)
    values (#{projectandfundsourceid,jdbcType=INTEGER}, #{projectinforid,jdbcType=INTEGER}, 
      #{projectfundsourceid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shuren.pojo.ProjectAndFundSource" >
    insert into projectandfundsource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectandfundsourceid != null" >
        ProjectAndFundSourceId,
      </if>
      <if test="projectinforid != null" >
        ProjectInforId,
      </if>
      <if test="projectfundsourceid != null" >
        ProjectFundSourceId,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectandfundsourceid != null" >
        #{projectandfundsourceid,jdbcType=INTEGER},
      </if>
      <if test="projectinforid != null" >
        #{projectinforid,jdbcType=INTEGER},
      </if>
      <if test="projectfundsourceid != null" >
        #{projectfundsourceid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shuren.pojo.ProjectAndFundSource" >
    update projectandfundsource
    <set >
      <if test="projectinforid != null" >
        ProjectInforId = #{projectinforid,jdbcType=INTEGER},
      </if>
      <if test="projectfundsourceid != null" >
        ProjectFundSourceId = #{projectfundsourceid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ProjectAndFundSourceId = #{projectandfundsourceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shuren.pojo.ProjectAndFundSource" >
    update projectandfundsource
    set ProjectInforId = #{projectinforid,jdbcType=INTEGER},
      ProjectFundSourceId = #{projectfundsourceid,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR}
    where ProjectAndFundSourceId = #{projectandfundsourceid,jdbcType=INTEGER}
  </update>
</mapper>