<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuren.mapper.ProjectReplyMapper" >
  <resultMap id="BaseResultMap" type="com.shuren.pojo.ProjectReply" >
    <id column="ProjectReplyId" property="projectreplyid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Overview" property="overview" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="Performer" property="performer" jdbcType="VARCHAR" />
    <result column="HowMuch" property="howmuch" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="Approver1" property="approver1" jdbcType="VARCHAR" />
    <result column="Approver2" property="approver2" jdbcType="VARCHAR" />
    <result column="SubmitDate" property="submitdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProjectReplyId, Name, Overview, UserId, Performer, HowMuch, Remark, State, Approver1, 
    Approver2, SubmitDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from projectreply
    where ProjectReplyId = #{projectreplyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from projectreply
    where ProjectReplyId = #{projectreplyid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shuren.pojo.ProjectReply" >
    insert into projectreply (ProjectReplyId, Name, Overview, 
      UserId, Performer, HowMuch, 
      Remark, State, Approver1, 
      Approver2, SubmitDate)
    values (#{projectreplyid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{overview,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{performer,jdbcType=VARCHAR}, #{howmuch,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{approver1,jdbcType=VARCHAR}, 
      #{approver2,jdbcType=VARCHAR}, #{submitdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shuren.pojo.ProjectReply" >
    insert into projectreply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectreplyid != null" >
        ProjectReplyId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="overview != null" >
        Overview,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="performer != null" >
        Performer,
      </if>
      <if test="howmuch != null" >
        HowMuch,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="approver1 != null" >
        Approver1,
      </if>
      <if test="approver2 != null" >
        Approver2,
      </if>
      <if test="submitdate != null" >
        SubmitDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectreplyid != null" >
        #{projectreplyid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="performer != null" >
        #{performer,jdbcType=VARCHAR},
      </if>
      <if test="howmuch != null" >
        #{howmuch,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="approver1 != null" >
        #{approver1,jdbcType=VARCHAR},
      </if>
      <if test="approver2 != null" >
        #{approver2,jdbcType=VARCHAR},
      </if>
      <if test="submitdate != null" >
        #{submitdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shuren.pojo.ProjectReply" >
    update projectreply
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        Overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="performer != null" >
        Performer = #{performer,jdbcType=VARCHAR},
      </if>
      <if test="howmuch != null" >
        HowMuch = #{howmuch,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="approver1 != null" >
        Approver1 = #{approver1,jdbcType=VARCHAR},
      </if>
      <if test="approver2 != null" >
        Approver2 = #{approver2,jdbcType=VARCHAR},
      </if>
      <if test="submitdate != null" >
        SubmitDate = #{submitdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ProjectReplyId = #{projectreplyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shuren.pojo.ProjectReply" >
    update projectreply
    set Name = #{name,jdbcType=VARCHAR},
      Overview = #{overview,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=INTEGER},
      Performer = #{performer,jdbcType=VARCHAR},
      HowMuch = #{howmuch,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER},
      Approver1 = #{approver1,jdbcType=VARCHAR},
      Approver2 = #{approver2,jdbcType=VARCHAR},
      SubmitDate = #{submitdate,jdbcType=TIMESTAMP}
    where ProjectReplyId = #{projectreplyid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from projectreply
  </select>
  
  <select id="selectByIf" parameterType="ProjectReply" resultType="ProjectReply" >
    select 
    <include refid="Base_Column_List" />
    from projectreply 
    <where>
     <if test="name != null" >
        and Name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="overview != null" >
        and Overview = #{overview,jdbcType=VARCHAR}
      </if>
      <if test="userid != null" >
        and UserId = #{userid,jdbcType=INTEGER}
      </if>
      <if test="performer != null" >
        and Performer = #{performer,jdbcType=VARCHAR}
      </if>
      <if test="howmuch != null" >
        and HowMuch = #{howmuch,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and Remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        and State = #{state,jdbcType=INTEGER}
      </if>
      <if test="approver1 != null" >
        and Approver1 = #{approver1,jdbcType=VARCHAR}
      </if>
      <if test="approver2 != null" >
        and Approver2 = #{approver2,jdbcType=VARCHAR}
      </if>
      <if test="submitdate != null" >
        and SubmitDate = #{submitdate,jdbcType=TIMESTAMP}
      </if>
    </where>
     Order By SubmitDate Desc
  </select>
  
  <select id="CountByIf" parameterType="ProjectReply" resultType="Integer" >
    select count(*)
    from projectreply 
    <where>
     <if test="name != null" >
        and Name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="overview != null" >
        and Overview = #{overview,jdbcType=VARCHAR}
      </if>
      <if test="userid != null" >
        and UserId = #{userid,jdbcType=INTEGER}
      </if>
      <if test="performer != null" >
        and Performer = #{performer,jdbcType=VARCHAR}
      </if>
      <if test="howmuch != null" >
        and HowMuch = #{howmuch,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and Remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        and State = #{state,jdbcType=INTEGER}
      </if>
      <if test="approver1 != null" >
        and Approver1 = #{approver1,jdbcType=VARCHAR}
      </if>
      <if test="approver2 != null" >
        and Approver2 = #{approver2,jdbcType=VARCHAR}
      </if>
      <if test="submitdate != null" >
        and SubmitDate = #{submitdate,jdbcType=TIMESTAMP}
      </if>
    </where>
     Order By SubmitDate Desc
  </select>
  
  <select id="SumByIf" parameterType="ProjectReply" resultType="Float" >
    select sum(howmuch)
    from projectreply 
    <where>
     <if test="name != null" >
        and Name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="overview != null" >
        and Overview = #{overview,jdbcType=VARCHAR}
      </if>
      <if test="userid != null" >
        and UserId = #{userid,jdbcType=INTEGER}
      </if>
      <if test="performer != null" >
        and Performer = #{performer,jdbcType=VARCHAR}
      </if>
      <if test="howmuch != null" >
        and HowMuch = #{howmuch,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and Remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        and State = #{state,jdbcType=INTEGER}
      </if>
      <if test="approver1 != null" >
        and Approver1 = #{approver1,jdbcType=VARCHAR}
      </if>
      <if test="approver2 != null" >
        and Approver2 = #{approver2,jdbcType=VARCHAR}
      </if>
      <if test="submitdate != null" >
        and SubmitDate = #{submitdate,jdbcType=TIMESTAMP}
      </if>
    </where>
     Order By SubmitDate Desc
  </select>
</mapper>